.wrapper {
  background-color: red;
  display: flex;
}

.checked {
  background-color: yellow;
}

.inputWrapper{
  background-color: inherit;
  border: 2px solid;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  &:first-child {
    flex-basis: 5% !important;
    flex-grow: 0;
  }
  input {
    background-color: inherit;
  }
  input[type='text'] {
    width: 100%;
}
}
