.wrapper {
  display: flex;
}

.inputWrapper{
  padding: 2px 8px;
  background-color: inherit;
  border-left: 2px solid;
  border-bottom: 2px solid;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  &:first-child {
    flex-basis: 5% !important;
    flex-grow: 0;
  }
  &:last-child {
    border-right: 2px solid;
  }
  input {
    background-color: inherit;
  }
  input[type='text'] {
    width: 100%;
}
}

.checked {
  background-color: #6c757d50;
  input {
    background-color: #6c757d00;
  }
}