.wrapper {
  display: flex;
  flex-direction: column;
}


.columns {
  display: flex;
}

.column {
  background-color: green;
  border: 2px solid;
  flex-grow: 1;
  flex-shrink: 1;
  &:first-child{
    flex-basis: 5% !important;
    flex-grow: 0;
  }

}

.rows {

}